:host{
  width: 400px;
  display: block;
  margin: 24px auto;
  border: 3px dashed;
}
:host.is-last{
  border: 3px solid;
}

img{
  width: 300px;
}

.MMORPG{
  border-color: aqua;
}

.RPG{
  border-color: red;
}

.FPS{
  border-color: green;
}
